@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", roboto;
}
body {
  background-color: #143559;
}
.container {
  background-color: #ffff;
  font-size: 16px;
  padding: 3em 2em;
  width: 35%;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 2px 6.5px 13.5px 11.5px rgba(0, 0, 0, 0.2);
}
.search-container {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
